{
    "local_config" : {
        "hostname":  "0.0.0.0",
        "base_port": 8567,
        "influxdb_port": 8086,
        "influxdb_host": "127.0.0.1",
        "influxdb_db_name": "hubitatMaker",
        "local_url": "http://192.168.7.94"
    },
    "hubs" : {
        "homeTester": {
            "url": "http://192.168.7.100/apps/api/13",
            "token":  "<ACCESS_TOKEN>",
            "influxdb_db_name": "HubitatTester"
        },
        "home": {
            "url": "http://192.168.7.97/apps/api/769",
            "token": "<ACCESS_TOKEN>",
            "locationName": "Home",
            "locationId": "0",
            "hubId": "0"
        }
    }
}
